body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}
.add{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
  height: 3rem;
}
.entry{
  height: 2.5rem;
  width: 28rem;
  background-color: #1f2937;
  border: none;
  color: #FFFFFF;
}
.addButton{
  height: 1.75rem;
  width: 1.75rem;
}
.taskContainer1{
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: space-between;
  width: 30rem;
  border-width: 1rem;
  border: .1rem solid #c2b39a;
  border-radius: .25rem;
}
.taskContainer2{
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
  border: .1rem solid #c2b39a;
  border-radius: .25rem;
}
.tasks{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.taskEntry{
  margin-top: 2rem;
}
.tracker{
  margin-bottom: 2rem;
  width: 30rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: .1rem solid #c2b39a;
}
.trackerText{
  font-size: 2rem;
  margin-left: 2rem;
}
.trackerCount{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: green;
  height: 5rem;
  width: 5rem;
  border-radius: 2.5rem;
  margin-right: 2rem;
}
.checkbox{
  height: 1.5rem;
  width: 1.5rem;
  margin-left: .5rem;
}