body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}
.add{
  display: flex;
  justify-content: space-between;
  width: 30rem;
}
.taskContainer1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
  border-width: 1rem;
  border-color: #A020F0;
}
.taskContainer2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
  border-width: 1rem;
  border-color: #A020F0;
}
.tasks{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.taskEntry{
  margin-top: 2rem;
}
.tracker{
  margin-bottom: 4rem;
  width: 30rem;
  display: flex;
  justify-content: center;
}